* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: Arial, sans-serif;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
p{
  color: #fff;
  font-size: 20px;
}
h2{
  color:#fff;
  font-size: 40px;
}
.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  font-size: 20px;

}
.header-bg{
  background: linear-gradient(to right,#2176bc,#28bbff);

;
}
select {
  background: transparent;
  border:none;
  padding: 5px;
  font-size: 20px;
  color: #fff

}
select option{
  background-color: #28bbff;
}
.logo {
  color: #fff;
  background-image: url('./images/logo.svg');
  background-repeat: no-repeat;
  width: 200px;
  height: 70px;
  
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 15px;
}

.nav-menu a:hover {
  color: #d2e1ff;
  border-bottom: 1px solid white;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.menu-toggle span {
  background-color: #fff;
  height: 3px;
  width: 100%;
  transition: all 0.3s ease;
}

.menu-toggle.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.moreOptions{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.connexion{
  color: #fff;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #1e90ff;
    top: 55px;
    right: 0;
    width: 200px;
    border: 1px solid #ffffff;
  }

  .nav-menu li {
    margin: 10px 0;
    text-align: center;
  }

  .nav-menu.open {
    display: flex;
  }
}
.bss-slides{
  background: blue;
  position: relative;
  display: block;    
}
.bss-slides:focus{
 outline: 0;
}
.bss-slides figure{
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 700px;
}
.bss-slides figure:first-child{
  position: relative;
}
.bss-slides figure img{
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  position: relative;
/*-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  */
}
.bss-slides .bss-show {
  z-index: 3;
}
.bss-slides .bss-show img{
  opacity: 0.5;
 /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden;*/
}

.bss-slides figcaption{
  font-family: sans-serif;
  color: #fff;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bss-slides figcaption h2{
  font-size: 40px;
}.bss-slides figcaption p{
  font-size: 20px;
}
.bss-slides .bss-show figcaption{
  z-index: 2;
  opacity: 1;
}

.bss-next, .bss-prev{
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 4;
  font-size: 3em;
  margin-top: -1.2em;
  opacity: .5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bss-next:hover, .bss-prev:hover{
  cursor: pointer;
  opacity: 1;
}
.bss-next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.bss-prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.bss-fullscreen{
  display: block;
  width: 24px;
  height: 24px;    
  background: rgba(0,0,0,.3); 
  -webkit-background-size: contain; 
  background-size: contain;
  position: absolute;
  top: 5px;
  left: 5px;   
  cursor: pointer;    
  opacity: .3;
} 
.bss-fullscreen:hover{
  opacity: .8;   
}
:-webkit-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) ;
    -webkit-background-size: contain;
    background-size: contain;
}
:-moz-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4);
    background-size: contain;
}
:-ms-fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4);
    background-size: contain;
}
:full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4);
    -webkit-background-size: contain;
    background-size: contain;
}
:-webkit-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4);
    -webkit-background-size: contain;
    background-size: contain;
}
:-moz-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4);
    background-size: contain;
}
:-ms-fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4);
    background-size: contain;
}
:fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4);
    -webkit-background-size: contain;
    background-size: contain;
}

#presentation{
  position: relative;
  background-color: #28bbff; 
  text-align: center;
  padding: 20px;
  line-height: 1.5;
  z-index: 999;
}
#presentation h2{
  color: #fff;
 
}
#presentation p{
  color: #fff;
  width: 70%;
 margin:  auto;
 text-align: justify;
}

/*section3*/
#two-columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  text-align: justify;
  height: auto;
  
}


.column-row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.column1,.column2 {
  width: 45%;
  height: auto;
  margin: 20px;
  background-color: #f8f8f8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  transition: height 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  line-height: 1.5;
}

#two-columns h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #2176bc;
}
.column1 h3,.column2 h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.column-content p{
  font-size: 14px;
  color: #000;
}
#more1,#more2 {display: none;}


.display-text{
  display: inline;
}
.column-content {
  overflow: hidden;
}

.column1 #myBtn1,.column2 #myBtn2{
  background-color: #2176bc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


/* Style général pour le footer */
.footer {
  background: linear-gradient(to right,#2176bc,#28bbff);
  color: #ffffff;
  font-size: 14px;
  padding: 60px 0;
  }
  
  /* Style pour le conteneur principal */
  .container {
  max-width: 1340px;
  margin: 0 auto;
  }
  
  /* Style pour la section du haut du footer */
  .footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  /* Style pour la marque en bas à gauche du footer */
  .footer-brand img {
  width: 100px;
  }
  
  /* Style pour les liens dans les colonnes */
  .footer-links ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  }
  
  .footer-links li {
  margin-bottom: 10px;
  }
  
  .footer-links a {
  color: #ffffff;
  text-decoration: none;
  }
  
  .footer-links a:hover {
  color: #eaeaea;
  }
    .footer h4{
    font-size: 30px;

  }
  .footer li{
    font-size: 20px;
  }
  /* Style pour la newsletter */
  .footer form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .form-group {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  label {
    display: none;
  }
  
  .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .input-group input[type="email"] {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 14px;
  }
  
  .input-group button[type="submit"] {
    background-color: #28bbff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .input-group button[type="submit"]:hover {
    background-color: #2176bc;
  }
  .footer a {
    text-decoration: none;
    color: #fff
  }
  .footer-newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Style pour le texte des droits d'auteur */
  .copyright {
  border-top: 1px solid #fff;
  margin-top: 40px;
  padding-top: 20px;
  }
  
  /* Style pour le texte en bas à droite du footer */
  .text-right {
  text-align: right;
  }
  
  .text-right a {
  color: #ffffff;
  text-decoration: underline;
  }
  
  .text-right a:hover {
  color: #eaeaea;
  }
  
  /* Style pour le texte du footer sur les écrans mobiles */
  @media (max-width: 768px) {
  .footer-top {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  }
  
  .footer-links {
  margin-top: 30px;
  }
  
  .footer-links h4 {
  margin-top: 0;
  }
  
  .text-right {
  text-align: left;
  }
  }